@mixin list-stiyle() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-decaration() {
  text-decoration: none;
}

@mixin bacraund-img($position, $size) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin display($direction, $iteam, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $iteam;
  justify-content: $justify;
}

@mixin before-after($position, $size) {
  content: "";
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin breakpoint-up($size) {
  @media only screen and (min-width: $size) {
  }
}

@mixin cardTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

@mixin heading {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

@mixin cardtext {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1d1f2e;
}
